#ccc_channels_list .ccc_container .ccc_column.ccc_countryList {
    padding: 2.5px 5px 0;
}

.Mui-selected{
    background-color: white;
    text-decoration: solid;
}

.divSelected{
    background-color: blue;
    width: 100%;
    border-radius: 10px;
    text-decoration: underline;
}

.divUnselected{
    width: 100%;
}